@model IEnumerable<ReserveIt.Models.DTO.HotelShort>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <div class="row" style="margin-left: 0px; margin-right: 0px;">
        @foreach (ReserveIt.Models.DTO.HotelShort hotel in Model)
        {
            using (Html.BeginForm("GetDateAndTime", "Reservation", FormMethod.Get))
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@(hotel.StreetAddress + ", " + hotel.CityAddress + ", " + hotel.StateAddress)</h5>
                        <p class="card-text">@hotel.Description</p>
                        <button name="hotelId" class="btn btn-secondary" type="submit" value=@hotel.HotelID>Reserve</button>
                    </div>
                </div>
            }
        }
    </div>
</body>
