@model ReserveIt.Models.ReservationSearchData
@{
    ViewBag.Title = "Select Room Type";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

    List<ReserveIt.Models.RoomType> availableRoomTypes = new ReserveIt.Models.ReserveItEntities().
        GetAvailableRoomTypes(Model.HotelID, Model.Dates.CheckIn, Model.Dates.CheckOut).ToList();
}

<body>
    @using (Html.BeginForm("ConfirmReservation", "Reservation", FormMethod.Post))
    {
        if (availableRoomTypes.Count > 0)
        {
            <div class="list-group">
                @foreach (ReserveIt.Models.RoomType item in availableRoomTypes)
                {
                    <button type="submit" name="roomType" class="list-group-item list-group-item-action" value="@item.RoomTypeID">@item.RoomTypeDescription</button>
                }
            </div>
        }
        else
        {

        }
    }
</body>

