@model ReserveIt.Models.ReservationSearchData
@{
    ViewBag.Title = "Select Room Type";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <div class="jumbotron jumbotron-fluid" style="padding-bottom: 0rem; margin-bottom: 0px;">
        <h1 class="display-4">Hotel - @Model.HotelStreetAddress, @Model.HotelCityAddress</h1>
        <p class="lead">Please select a type of Room</p>
        <hr class="my-4" />
    </div>
    @using (Html.BeginForm("ConfirmReservation", "Reservation", FormMethod.Post))
    {
        if (Model.AvailableRoomTypes.Count > 0)
        {
            <div class="list-group">
                @foreach (ReserveIt.Models.RoomType item in Model.AvailableRoomTypes)
                {
                    <button type="submit" name="roomType" class="list-group-item list-group-item-action" value="@item.RoomTypeID">@item.RoomTypeDescription</button>
                }
            </div>
        }
        else
        {
            //If no rooms are available
        }
    }
</body>

