
@{
    ViewBag.Title = "Select Room Type";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    @{ 
        List<ReserveIt.Models.RoomType> availableRoomTypes = null;

        using (ReserveIt.Models.ReserveItEntities db = new ReserveIt.Models.ReserveItEntities())
        {
            availableRoomTypes = db.GetAvailableRoomTypes((int)TempData["hotelID"], DateTime.Parse((string)TempData["checkIn"]), DateTime.Parse((string)TempData["checkOut"])).ToList();
        }
    }

    @using (Html.BeginForm("ConfirmReservation", "Reservation", FormMethod.Get))
    {
        if (availableRoomTypes.Count > 0)
        {
            <div class="list-group">
                @foreach (ReserveIt.Models.RoomType item in availableRoomTypes)
                {
                    <button type="submit" name="roomType" class="list-group-item list-group-item-action" value="@item.RoomTypeID">@item.RoomTypeDescription</button>
                }
            </div>
        }
        else
        {

        }
    }
</body>

