@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

    List<ReserveIt.Models.DTO.HotelShort> hotels = new List<ReserveIt.Models.DTO.HotelShort>();

    using (ReserveItEntities ent = new ReserveItEntities())
    {
        hotels = ent.Hotels.Select(x => new ReserveIt.Models.DTO.HotelShort()
        {
            HotelID = x.HotelID,
            StreetAddress = x.StreetAddress,
            CityAddress = x.CityAddress,
            StateAddress = x.StateAddress,
            Description = x.Description
        }).ToList();
    }
}

<body>
    <br />
    <div class="row">
        @foreach (ReserveIt.Models.DTO.HotelShort hotel in hotels)
        {
            using (Html.BeginForm("GetDateAndTime", "Reservation", FormMethod.Get))
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@(hotel.StreetAddress + ", " + hotel.CityAddress + ", " + hotel.StateAddress)</h5>
                        <p class="card-text">@hotel.Description</p>
                        <button name="hotelReserve" class="btn btn-secondary" type="submit" value=@hotel.HotelID>Reserve</button>
                    </div>
                </div>
            }
        }
    </div>
</body>